.container-fluid
  %h1 Home#landing_page
  %p Find me in app/views/home/landing_page.html.erb
  = link_to 'Privacy Policy', privacy_policy_path

  = link_to courses_path, class: 'btn btn-primary' do
    %i.fas.fa-book-open
    Courses
