%footer.bg-dark.p-2
  .container.text-center
    .row
      .col-md-4
        Copyright
        ©
        = Time.now.year
        RubyGems Bootcamp
        .row
      .col-md-4
        Privacy policy
        .row
        Terms and conditions
      .col-md-4
        About us
        .row
        = link_to 'New course', new_course_path